@font-face {
    font-family: 'quicksand';
    src:
        url('quicksand.svg') format('svg'),
        url('quicksand.woff') format('woff'),
        url('quicksand.ttf') format('truetype');
    }

@font-face {
    font-family: 'open sans';
    src:
        url('opensans.ttf') format('truetype');
}