$list: 1, 0.75, 0.5, 0.25, 0.05;

@each $i in $list {
    .shade#{$i*100} {
        width: 70px;
        height: 70px;
        background: rgba(31, 32, 65, $i);
        border-radius: 6px;
    }
    .dark#{$i*100} {
        color: rgba(31, 32, 65, $i);
    }
}

.quicksand {
    font-family: 'quicksand', sans-serif;
}

#colors, #type {
    margin: 145px 0;
}

#colors {
    margin-left: 150px;
}

#type {
    margin-right: 150px;
}

#colors-type {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'montserrat', sans-serif;
    h1, h2, h3, p {
        margin: 0;
        margin-right: 30px;
    }
    p:nth-child(2) {
        color: rgba(31, 32, 65, 0.75);
    }
}

h1 {
    font-size: 24px;
    line-height: 30px;
    font-family: 'quicksand', 'open sans', sans-serif;
}

h2 {
    font-size: 19px;
    line-height: 24px;
    font-family: 'quicksand', 'open sans', sans-serif;
}

h3 {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

#type {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(4, fit-content(100%));
    row-gap: 50px;
}

#color-purple, #color-green {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

#color-purple {
    background: #BC9CFF;
}

#color-green {
    background: #6FCF97;
}

.color-example {
    display: flex;
    margin-bottom: 20px;
    div:nth-child(2) {
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h2, p {
            font-family: 'quicksand', sans-serif;
            font-size: 19px;
            line-height: 29px;
            margin: 0;
        }
    }
}

.text-tag {
    color: rgba(31, 32, 65, 0.25);
    text-align: right;
}