extends ../layout

block title
    title Cards

block header

block content
    img(src="vector.svg")
    #cards
        +room-picker
        +booking(888, 9990, true)
        +registration
        +login
        +room-thumb(888, 9990, 5, 145, true)
        +room-thumb(840, 9900, 4, 65)
            
block footer