extends ../layout

block title
    title Form elements
block header
block content
    #elements
        #inputs
            .elem-col
                h3.dark100 Text field
                h3.dark50 default
                input(type="email" placeholder='Email')
                h3.dark100 dropdown
                h3.dark50 default
                +dropdown(true)
                h3.dark100 masked text field
                h3.dark50 default
                input(type='text' placeholder='ДД.ММ.ГГГГ' spellcheck='false').masked-input.dark75
                h3.dark100 date dropdown
                +date-dropdown
                h3.dark100 filter date dropdown
                +date-dropdown(true)
                h3.dark100 subscription text field
                +input-email
                h3.dark100 dropdown
                +dropdown(false)
            .elem-col
                h3.dark100 checkbox buttons
                +checkbox
                h3.dark100 radio buttons
                +gender-pick
                h3.dark100 toggle
                +toggle
                h3.dark100 like button
                #likes
                    button.like-btn
                        i.mi-icons favorite_border
                        i.like-txt 2
                h3.dark100 rate button
                #rating
                    .rating
            .elem-col
                h3.dark100 range slider
                h3.dark50#amount
                #slider-range
                h3.dark100 buttons
                #buttons
                    div
                        +button('purple', 'click me')
                        +button('white', 'click me')
                    div
                        span.click-span click me
                        span.click-span.click-span-grey click me
                    +arrow-button("перейти к оплате")
                h3.dark100 pagination
                #pagination
                    .jq-pagination
                    p.dark75 1 – 12 из 100+ вариантов аренды
        #dropdowns
            +exp-checkbox('expandable checkbox list')
            +rich-checkbox('rich checkbox buttons')
            +list('bullet list')
        #review
            .features.dark75
                div
                    i.material-icons insert_emoticon
                    b Комфорт
                    p Шумопоглощающие стены
                hr
                div
                    i.material-icons location_city
                    b Удобство
                    p Окно в каждой из спален
                hr
            .comments.dark75
                img(src='img/avatar.png' alt='user avatar')
                button.like-btn
                    i.mi-icons favorite_border
                    i.like-txt 11
                b Мурад Сарафанов
                span 5 дней назад
                p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.

block footer