extends ../layout

block title
    title Headers & Footers
block header
block content
    img(src="vector.svg")
    #headers-footers
        +header(false)
        +header(true)
        +footer(true)
        +footer(false)
block footer