main {
    background-image: url('../img/sign-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    .login {
        margin: 9% auto;
    }
    .registration {
        margin: 20px auto;
    }
}