#cards {
    margin: 150px 140px;
    > div {
        margin-bottom: 40px;
        form {
            margin: 20px 0 0;
        }
        h3 {
            margin-bottom: 5px;
        }
    }
}

.login, .room-picker, .registration, .booking {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 380px;
    padding: 39px 29px 29px;
    h1 {
        margin: 0;
        padding: 0;
        i {
            font-size: 14px;
            font-style: normal;
            font-weight: bold;
        }
        span {
            color: #BC9CFF;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

.booking {
    > p {
        color: rgba(31, 32, 65, 0.5);
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        margin: 0;
    }
    > h1, > p {
        display: inline-block;
        width: 50%;
    }
    .dates {
        margin-bottom: 20px;
    }
    h2 {
        display: inline-block;
        margin: 0;
    }
}

.cost-sum {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    column-gap: 5px;
    margin: 30px 0 20px;
    div {
        border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
        margin-bottom: 5px;
    }
}

.cost-grid {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: repeat(3, min-content);
    row-gap: 10px;
    margin-top: 20px;
    p {
        color: rgba(31, 32, 65, 0.75);
        font-size: 14px;
        line-height: 24px;
        margin: 0;
        &:nth-child(2n) {
            text-align: right;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &:nth-child(2) {
            justify-content: flex-end;
        }
        i {
            font-style: normal;
            font-weight: bold;
            color: rgba(31, 32, 65, 0.25);
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            width: 20px;
            line-height: 18px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            border-radius: 50%;
            user-select: none;
        }
    }
}

.registration {
    h3 {
        margin-top: 20px;
    }
    input:not(.masked-input) {
        margin-bottom: 10px;
    }
    .payment {
        margin-top: 20px;
    }
}

.room-picker {
    .payment {
        margin-top: 30px;
    }
    h3 {
        margin-top: 20px;
    }
}

.dates {
    display: flex;
    justify-content: space-between;
    .filter-date-picker {
        width: 150px;
    }
}

.reg-suggest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    > span {
        font-size: 14px;
        line-height: 18px;
        color: #000;
    }
}

.login {
    input[type="password"] {
        margin-top: 10px;
    }
    .payment {
        margin-top: 20px;
    }
}

.room-thumb {
    width: 270px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    .thumbnail {
        div {
            background-size: cover;
            height: 150px;
            border-radius: 4px 4px 0 0;
            width: 100%;
        }
    }
    .info {
        margin: 20px;
        hr {
            border: none;
            border-top: 1px solid rgba(31, 32, 65, 0.1);;
        }
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .rating, p {
                height: max-content;
            }
        }
        p {
            color: rgba(31, 32, 65, 0.5);
            font-size: 14px;
            line-height: 24px;
            text-align: right;
            margin: 0;
        }
    }
    h1 {
        margin: 0;
        padding: 0;
        i {
            font-size: 14px;
            font-style: normal;
            font-weight: bold;
        }
        span {
            color: #BC9CFF;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

.room-rate {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}