footer {
    font-family: 'montserrat';
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    color: rgba(31, 32, 65, 0.75);
    font-size: 14px;
    line-height: 17px;
}

.false {
    text-align: center;
    max-width: 768px;
    max-height: 367px;
    padding: 120px 140px;
    box-sizing: border-box;
}

.contacts.fab {
    display: grid;
    line-height: 24px;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.true #lower {
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
}

.true #upper {
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}

footer #upper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 100px 140px;
    color: rgba(31, 32, 65, 0.5);
    flex-wrap: wrap;
}

.footer-block {
    width: 260px;
}

.footer-block p {
    margin-top: 20px;
}

#upper h3 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #1F2041;
}

#upper li {
    font-size: 14px;
    font-weight: normal;
    display: block;
    margin-top: 20px;
    margin-left: 0;
}   

@media (max-width: 1024px) {
    footer #upper {
        padding: 50px 70px;
    }
    footer #upper > div {
        margin-bottom: 20px;
    }
    .true #lower {
        padding: 0 70px;
    }
}

@media (max-width: 734px) {
    footer #upper {
        padding: 25px 35px;
    }
    footer #upper > div {
        margin-bottom: 20px;
    }
    .true #lower {
        padding: 0 35px;
    }
}

@media (max-width: 472px) {
    .footer-block {
        width: 100%;
    }
    footer {
        text-align: center;
    }
}

@media (max-width: 450px) {
    footer #upper {
        padding: 10px 15px;
    }
    footer #upper > div {
        margin-bottom: 10px;
    }
    .footer-block p {
        margin-top: 10px;
    }
    .true #lower {
        padding: 0 15px;
    }
    #upper li {
        margin-top: 10px;
    }
}