mixin header(type)
    nav
        #logo
            img(src='img/logo.png' alt="logo")
        #menu
            ul
                li <b>О нас</b>
                li Услуги
                    span.material-icons keyboard_arrow_down
                li Вакансии
                li Новости
                li Соглашения
                    span.material-icons keyboard_arrow_down
            if type
                p Юлий Цезарь
            else
                a(href="login.html")
                    button#login Войти
                a(href="registration.html")
                    button#reg Зарегистрироваться