mixin header(type)
    nav
        #logo
            a(href="./")
                img(src='img/logo.png' alt="logo")
        #menu
            ul
                li О нас
                li Услуги
                span.material-icons keyboard_arrow_down
                li Вакансии
                li Новости
                li Соглашения
                span.material-icons keyboard_arrow_down
            .exp-menu Меню
                span.material-icons keyboard_arrow_down
                ul
                    li.li-sign
                        a(href="login.html") Войти
                    li.li-sign
                        a(href="registration.html") Зарегистрироваться
                    li О нас
                    li Услуги
                    li Вакансии
                    li Новости
                    li Соглашения
            if type
                p Юлий Цезарь
            else
                a(href="login.html").sign-button
                    button#login Войти
                a(href="registration.html").sign-button
                    button#reg Зарегистрироваться