mixin footer(type)
    if (!type)
        footer.false
            #logo
                img(src=require('./blocks/footer/logo.png').default alt='logo')
            p Copyright © 2018 Toxin отель. Все права зачищены.
            .contacts.fab
                span.fa-twitter
                span.fa-facebook
                span.fa-instagram
    else
        footer.true
            #upper
                .footer-block
                    #logo
                        img(src=require('./blocks/footer/logo.png').default alt='logo')
                    p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                .footer-list
                    h3 Навигация
                    li О нас
                    li Новости
                    li Служба поддержки
                    li Услуги
                .footer-list
                    h3 О нас
                    li О сервисе
                    li Наша команда
                    li Вакансии
                    li Инвесторы
                .footer-list
                    h3 Служба поддержки
                    li Соглашения
                    li Сообщества
                    li Связь с нами
                .footer-block
                    h3 Подписка
                    p Получайте специальные предложения и новости сервиса
                    form.submit-email
                        input(type="email", name="sub", placeholder='Email', required)
                        input(type="submit", value="arrow_forward")
            #lower
                p Copyright © 2018 Toxin отель. Все права зачищены.
                .contacts.fab
                    span.fa-twitter
                    span.fa-facebook
                    span.fa-instagram