footer {
    font-family: 'montserrat';
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    color: rgba(31, 32, 65, 0.75);
    font-size: 14px;
    line-height: 17px;
}

.false {
    text-align: center;
    max-width: 768px;
    max-height: 367px;
    padding: 120px 140px;
    box-sizing: border-box;
}

#contacts svg {
    margin-left: 20px;
    height: 100%;
}

.true #lower {
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
}

.true #lower #contacts {
    vertical-align: middle;
}

.true #upper {
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}

footer #upper {
    height: 372px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 140px;
    padding-left: 140px;
    color: rgba(31, 32, 65, 0.5);
}

.footer-block {
    width: 260px;
}

.footer-block p {
    margin-top: 20px;
}

.footer-block, .footer-list {
    margin-top: 100px;
}

#upper h3 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #1F2041;
}

#upper li {
    font-size: 14px;
    font-weight: normal;
    display: block;
    margin-top: 20px;
    margin-left: 0;
}   

.footer-block, .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
