@font-face {
    font-family: 'FA brands';
    font-weight: 400;
    src:
        url('fa-brands-400.ttf') format('truetype'),
        url('fa-brands-400.svg') format('svg'),
        url('fa-brands-400.woff') format('woff');
    }

.fab {
    font-family: 'FA brands';
    font-weight: 400;
    font-size: 24px;
}

.fa-instagram, .fa-twitter, .fa-facebook {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-instagram::before {
    content: '\f16d';
}

.fa-twitter::before {
    content: '\f099';
}

.fa-facebook::before {
    content: '\f082';
}