include ./blocks/header/header.pug
include ./blocks/footer/footer.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI kit
    body
        #colors-type
            include ./blocks/colors/colors.pug
        #headers-footers
            +header(false)
            +header(true)
            +footer(true)
            +footer(false)
        