input::placeholder {
    color: rgba(31, 32, 65, 0.25);
}

input[type="submit"] {
    font-family: 'Material icons';
    font-size: 24px;
    line-height: 44px;
    color: #BC9CFF;
    width: 44px;
    margin: 0;
    background-color: #fff;
    border: none;
    padding: 0;
}

input[type="email"], input[type="text"], input[type="password"], select, .masked-input, input {
    background: #fff;
    padding-left: 15px;
    width: 100%;
    height: 44px;
    border: 1px solid #c7c7cf;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
}

input:hover, input:focus {
    border: 1px solid #8f90a0;
}

#inputs, #dropdowns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#dropdowns > * {
    width: 320px;
    margin-top: 40px;
}

.submit-email {
    display: flex;
    margin: 0;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding: 0;
    input {
        border: none;
        border-radius: 4px;
        box-sizing: border-box;
        height: 100%;
        &:nth-child(1) {
            margin-right: 2px;
        }
    }
}

.elem-col {
    width: 320px;
    p {
        font-size: 14px;
        display: inline-block;
    }
    label {
        display: flex;
    }
    #slider-range {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    h3 {
        display: inline-block;
        box-sizing: border-box;
        &.dark100, &.dark50 {
            min-width: 50%;
        }
        &.dark50 {
            text-align: right;
        }
    }
    .dark50:nth-child(4) {
        padding-right: 60px;
    }
    .submit-email {
        width: 260px;
    }
    &:nth-child(1) h3.dark100 {
        margin-top: 20px;
        &:nth-child(1) {
            margin-top: 0;
        }
    }
}

.ui-slider-horizontal {
    height: 6px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
}

.ui-slider-handle {
    border-radius: 10px;
}

.ui-slider .ui-slider-handle {
    width: 12px;
    height: 12px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.ui-slider-range {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    outline: none;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -4px;
}

.click-purple {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;
    width: 100px;
    color: #fff;
    padding: 0 20px;
    font-family: 'montserrat', sans-serif;
    &:hover {
        opacity: 0.5;
    }
}

.click-white {
    color: #BC9CFF;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border: none;
    border-radius: 22px;
    width: 100px;
    padding: 2px;
    font-family: 'montserrat', sans-serif;
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        background-clip: border-box;
        border-radius: 20px;
        font-size: 12px;
        line-height: 15px;
        height: 100%;
    }
    &:hover {
        background: linear-gradient(180deg, #BC9CFF77 0%, #8BA4F977 100%);
    }
}
#buttons {
    width: 100%;
    display: grid;
    gap: 30px;
    div {
        &:nth-child(1) {
            display: grid;
            grid-template: repeat(2, min-content) / repeat(2, min-content);
            gap: 30px 20px;
        }
        &:nth-child(2) {
            gap: 20px;
        }
    }
    .click-span {
        margin-right: 20px;
    }
}

button {
    display: inline-block;
    font-size: 12px;
    outline: none;
    text-transform: uppercase;
    border-radius: 22px;
    height: 44px;
    font-weight: bold;
  }

.click-span, .click-span-grey {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
}

.click-span {
    color: #BC9CFF;
    cursor: pointer;
}

.click-span-grey {
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
}

.payment {
    width: 100%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    height: 44px;
    line-height: 24px;
    color: #fff;
    border: none;
    font-family: 'montserrat', sans-serif;
    display: flex;
    align-items: center;
    &::after {
        content: '\e5c8';
        font-family: 'material icons';
        position: relative;
        font-size: 24px;
        color: #fff;
        font-weight: normal;
    }
    span {
        margin: 0 auto;
    }
}

.checkbox, .exp-checkbox {
    .checkbox-label {
        margin-bottom: 10px;
    }
}

.radio {
    label {
        line-height: 24px;
    }
    .checkmark {
        margin: 2px 0;
    }
}

.checkbox-label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            border: 1px solid #BC9CFF;
            &:after {
                display: block;
            }
        }
        &:hover ~ .checkmark {
            border: 1px solid #BC9CFF;
        }
    }
    .checkmark::after {
        border: solid;
        border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-image-slice: 1;
        border-width: 0 3px 3px 0;
        left: 5px;
        top: 2px;
        width: 6px;
        height: 8px;
        transform: rotate(45deg);
    }
    p {
        margin: 5px 0 0 0;
        font-size: 12px;
        color: rgba(31, 32, 65, 0.5);
    }
  }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    &:after {
        position: absolute;
        content: '';
        display: none;
    }
}

.elem-col {
    .checkbox, .radio, .toggle, #likes, #rating, #pagination, #buttons {
        margin-top: 16px;
        margin-bottom: 40px;
    }
}

.radio {
    display: flex;
    label {
        width: 50%;
    }
    .checkmark {
        border-radius: 50%;
        &::after {
            transform: initial;
            border: none;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            width: 12px;
            height: 12px;
            border-radius: 50%;
            left: 3px;
            top: 3px;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 2px 0;
    &:hover .togglemark {
        border: 1px solid #BC9CFF;
    }
    & + .dark75 {
        font-size: 14px;
        line-height: 24px;
        margin-left: 10px;
    }
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .togglemark {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
    border: 1px solid rgba(31, 32, 65, 0.25);
  }
  
  .togglemark:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25);
  }
  
  input:checked + .togglemark:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

  input:checked + .togglemark {
    border: 1px solid #BC9CFF;
  }

  .toggle {
      display: flex;
  }

button[class="like-btn"] {
    width: 40px;
    height: 20px;
    border: none;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px;
    color: rgba(31, 32, 65, 0.25);
    display: flex;
    align-items: center;
    transition-duration: .4s;
    box-sizing: border-box;
    .mi-icons {
        font-family: 'Material Icons';
        text-transform: none;
        font-size: 10px;
        white-space: nowrap;
        word-wrap: normal;
        font-style: normal;
        vertical-align: middle;
    }
    .like-txt {
        font-family: 'montserrat', sans-serif;
        font-size: 10px;
        line-height: 12px;
        font-style: normal;
        margin: 0 auto;
    }
}

.rating, .features .material-icons, .room-rate {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#review {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.features {
    width: max-content;
    font-size: 14px;
    div {
        margin: 0;
        display: grid;
        column-gap: 10px;
        grid-template-areas: 'icon head' 'icon text';
        grid-template-columns: 48px 1fr;
        width: max-content;
        > * {
            margin: 0;
        }
        i {
            grid-area: icon;
            width: 48px;
            height: 48px;
        }
        p {
            grid-area: text;
        }
        b {
            grid-area: head;
        }
    }
    .material-icons {
        font-size: 48px;
        line-height: 41px;
    }
    hr {
        margin: 20px 0;
        border: none;
        border-top: 1px solid rgba(31, 32, 65, 0.1);
    }
}

.px-paginate-container{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.px-paginate-container.px-left{
    float: left;
    
}
.px-paginate-container .d-none{
    display: none;
}
.px-paginate-container.px-center{
    display: table;
    margin: 0 auto;    
}
.px-paginate-container.px-right {
    float: right;
}
.px-paginate-container .px-btn, .px-paginate-container .px-points{
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: rgba(31, 32, 65, 0.5);
}

.px-paginate-container .px-btn:hover{
    cursor: pointer;
}
.px-paginate-container .px-btn.selected{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color: #fff;
    border: none;
}

.px-btn-page {
    font-size: 12px;
}

.px-btn-prev, .px-btn-next {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
}

.px-btn-prev {
    display: none;
}

.px-paginate-container .px-btn.material-icons {
    color: #fff;
}

.comments {
    display: grid;
    font-size: 14px;
    line-height: 24px;
    max-width: 700px;
    grid-template-areas: 'img head' 'img date' 'like text';
    grid-template-rows: repeat(2, min-content);
    column-gap: 10px;
    & * {
        margin: 0;
    }
    img {
        grid-area: img;
        display: block;
        background: #fff;
    }
    .like-btn {
        grid-area: like;
        margin: 10px auto;
    }
    b {
        grid-area: head;
    }
    span {
        grid-area: date;
    }
    p {
        grid-area: text;
        margin-top: 10px;
    }
}

.guest-dropdown, .dropdown {
    width: 100%;
    position: relative;
    margin: 0;
    & > button::after {
        content: '\e5cf';
        font-family: 'material icons';
        position: relative;
        font-size: 24px;
        color: rgba(31, 32, 65, 0.5);
    }
    button {
        font-family: 'montserrat', sans-serif;
        font-size: 14px;
        font-weight: normal;
        text-transform: none;
        text-align: left;
        padding-left: 15px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .gdrop-content, .drop-content {
        width: 100%;
        background: #fff;
        position: absolute;
        z-index: 2;
        box-sizing: border-box;
        display: none;
        flex-direction: column;
        border-top: none;
        border: 1px solid rgba(31, 32, 65, 0.5);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        padding: 7px 7px 13px 15px;
        margin: 0;
        p {
            margin: 0;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            i {
                font-style: normal;
                font-weight: bold;
                margin: 0 10px;
            }
            &:nth-child(1) {
                margin-bottom: 7px;
            }
            &:nth-child(2) {
                margin-bottom: 7px;
            }
            &:nth-child(3) {
                margin-bottom: 20px;
            }
            button {
                display: inline-block;
                width: 30px;
                height: 30px;
                text-align: center;
                border: 1px solid rgba(31, 32, 65, 0.25);
                color: rgba(31, 32, 65, 0.5);
                box-sizing: border-box;
                border-radius: 22px;
                padding: 0;
                &:disabled {
                    opacity: 0.5;
                }
            }
        }
        .click-span-grey {
            visibility: hidden;
        }
    }
}

.dropdown {
    width: 260px;
    .drop-content p:nth-child(3) {
        margin-bottom: 0;
    }
}

.exp-checkbox {
    h3 {
        margin-bottom: 15px;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }
    i {
        margin-left: 30px;
        color: rgba(31, 32, 65, 0.5);
        width: 44px;
        text-align: center;
        transition-duration: 250ms;
    }
    .exp-content {
        display: none;
    }
}

.rich-checkbox {
    label {
        margin-top: 16px;
        font-weight: bold;
        color: rgba(31, 32, 65, 0.75);
    }
}

.bullet-list {
    h3 {
        margin-bottom: 16px;
    }
    li {
        list-style: none;
        color: rgba(31, 32, 65, 0.75);
        font-weight: normal;
        text-transform: none;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
        &::before {
            content: '';
            background: rgba(31, 32, 65, 0.25);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
            
        }
    }
}