
mixin input-email
    form#submit-email
        input(type="email", name="sub", placeholder='Email', required)
        input(type="submit", value='arrow_forward')

#inputs
    .elem-col
        h3 Text field
        h3.dark50 default
        input(type="email" placeholder='Email')
        h3 Text field
        h3.dark50 hover / focus
        input(type="text" value='This is pretty awesome')
        h3 dropdown
        h3.dark50 default
        select
            option
            option
            option
        h3 masked text field
        h3.dark50 default
        input(type="text")
    .elem-col
        h3 checkbox buttons
        #checkbox
            label.dark50.checkbox-label Можно курить
                input(type="checkbox")
                span.checkmark
            label.dark50.checkbox-label Можно с питомцами
                input(type="checkbox")
                span.checkmark
            label.dark50.checkbox-label Можно пригласить гостей (до 10 человек)
                input(type="checkbox")
                span.checkmark
        h3 radio buttons
        #radio
            label.dark50.checkbox-label Мужчина
                input(type="radio" name='gender')
                span.checkmark
            label.dark50.checkbox-label Женщина
                input(type="radio" name='gender')
                span.checkmark
        h3 toggle
        #toggle
            label.switch
                input(type="checkbox")
                span.togglemark
            span.dark75 Получать спецпредложения
        h3 like button
        #likes
            button.like-btn
                i.mi-icons favorite_border
                i.like-txt 2
    .elem-col
        h3 range slider
        h3.dark50#amount
        #slider-range
        h3 buttons
        #buttons
            button.click-purple click me
            button(disabled).click-purple click me
            button.click-white click me
            button(disabled).click-white click me
            br
            span.click-span click me
            span.click-span.click-span-grey click me
            button.payment перейти к оплате
#dropdowns
    .elem-col
    .elem-col
    .elem-col
#review